body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
  width: 1440px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}



a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.features-list,
.products-list,
.about-us-digits-list,
.projects-list,
.social-buttons,
.order-directions-list,
.catalog-list,
.pagination-list,
.order-options-list,
.order-directions-list,
.filter-option-radio-list,
.filter-option-checkbox-list {
  list-style: none;
}

.order-directions-list {
  position: absolute;
  display: flex;
  right: 0;
  top: -15px;
  width: 40px;
  justify-content: space-between;
  margin-left: 48px;
}

.grey-background {
  background-color: #eeeeee;
}

.button {
  font: inherit;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
  background-color: #fb565a;
  border: none;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*навигация*/

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.site-navigation,
.user-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation {
  width: 440px;
  display: flex;
  flex-wrap: wrap;
}

.user-navigation {
  width: 160px;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  text-transform: uppercase;
  display: block;
}

.site-navigation a {
  margin: 74px 45px 0 0;
  padding: 0;
}

.site-navigation li:nth-child(4n) a {
  margin-right: 0;
}

.user-navigation a {
  margin: 74px 0 0 85px;
}

.site-navigation a:focus,
.site-navigation a:hover,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #ababab;
}

.site-navigation li,
.user-navigation li{
  position:relative;

}

.site-navigation-current a,
.user-navigation-current a{
  border-bottom: 2px solid #fb565a;
  padding: 0 0 5px 0;
}

.user-navigation a::before {
  content: "";

  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 45px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header-logo {
  width: 160px;
  padding-top: 50px;
  line-height: 0;
}

.main-header-logo:focus,
.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}


/*преимущества*/

.features {
  margin-bottom: 80px;
  position: relative;
}

.features-list {
  margin: auto;
}

.feature-item {
  display: flex;
}

.feature-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.feature-item-slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: normal;

  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  display: inline-block;
}

.feature-item {
  display: none;
  padding: 78px 0 80px 0;
}

.feature-item:nth-child(1) {
  display: block;
}

.feature-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.feature-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.feature-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.to-know-more-button {
  width: 240px;
  height: 50px;
}

.slider-controls i {
  display: inline-block;
  width: 18px;
  height: 18px;

  position: relative;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
}

.slider-controls i::after {
  content: "";

  width: 18px;
  height: 18px;

  background: #ffffff;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  border-radius: 50%;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

/*продукты*/

.products-list {
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
  padding: 0;
}

.product-item {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.product-item:nth-child(3n) {
  margin-right: 60px;
}

.product-item p {
  max-width: 245px;
}

.product-item-image {
  order: -1;
}

.product-item-heading {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 0;
}

.product-item:nth-child(2) .button {
  background-color: #00ca74;
}

.product-item:nth-child(3) .button {
  background-color: #efc84a;
}

.product-item:nth-child(2) .button:hover,
.product-item:nth-child(2) .button:focus {
  background-color: #00bc6c
}

.product-item:nth-child(2) .button:active {
  background-color: #00aa62;
}

.product-item:nth-child(3) .button:hover,
.product-item:nth-child(3) .button:focus {
  background-color: #eab534;
}

.product-item:nth-child(3) .button:active {
  background-color: #e5a722;
}

.order-button {
  width: 160px;
  height: 50px;
  margin-top: 18px;
}

/*о нас*/

.about-us {
  display: flex;
  margin: auto auto auto auto;
  justify-content: space-between;
  position: relative;
}

.about-us::before {
  border: 2px solid #eeeeee;
  content: '';
  position: absolute;
  left: 20px;
  top: 0;
  width: 1160px;
}

.about-us-description {
  width: 660px;
  padding: 70px 0 0 0;
}

.about-us-description p {
  padding-top: 18px;
}

.about-us-slogan {
  font-size: 45px;
  line-height: 45px;
  padding: 0;
}

.about-us-orders-list-intro {
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 5px;
  margin: 0 0 10px 0;
  display: inline-block;
}

.about-us-orders-list {
  padding: 0;
  margin: 0;
}

.about-us-order-item::before {
  border: 2px solid #fb565a;
  content: '';
  position: absolute;
  left: 0;
  top: 12px;
  width: 25px;
}

.about-us-order-item {
  position: relative;
  display: block;
  padding: 0 0 23px 35px;
}

/* о нас в цифрах*/

.about-us-digits {
  width: 360px;
  margin-top: 35px;
  margin-bottom: 100px;
}

.about-us-digits-logo {
  margin-bottom: 35px;
  display: block;
}

.about-us-digits-intro {
  text-transform: uppercase;

  margin-bottom: 60px;
  display: block;
  padding-left: 15px;
}

.about-us-digits-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-right: 15px;
  box-sizing: border-box;
}

.about-us-digits-item {
  width: 105px;
}

.about-us-digits-item-percent {
  font-size: 45px;
  line-height: 10.06px;
}

.about-us-digits-item-percent p {
  line-height: 18px;
}

.about-us-digits-item-percent sup {
  top: -15px;
  font-size: 25px;
}

/*проекты*/

.projects {
  position: relative;
  padding: 0;
}

.projects::before {
  border: 2px solid #eeeeee;
  content: '';
  position: absolute;
  left: 20px;
  top: -50px;
  width: 1160px;
}

.projects:after {
  border: 2px solid #eeeeee;
  content: '';
  position: absolute;
  left: 20px;
  bottom: -5px;
  width: 1160px;
}


.projects-list {
  margin: auto auto 84px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

}

.project-item {
  opacity: 0.2;
  margin-bottom: 35px;
  width: 300px;
  text-align: center;
  padding: 0;
  position: relative;
}

.project-item:hover,
.project-item:focus {
  opacity: 1;
}

.project-item:active {
  opacity: 0.1;
}

.project-item::after {
  content: "";
  position: absolute;

  width: 2px;
  height: 52px;
  right: 0;
  top: 50%;
  margin-top: -34px;;
  background-color:  #eeeeee
}

.project-item:nth-child(4n)::after{
  width:0;
  height:0;
}


/*footer контакты*/

.footer-contacts {
  position: relative;
}

.footer-contacts-map-image {
  width: 100%;
}

.contacts {
  content: "";
  width: 319px;
  height: 308px;
  padding: 47px 50px 0 50px;
  margin: 0;
  position: absolute;
  top: 57px;
  left: 140px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.contacts-studio-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 24px 0;
}

.contacts-address {
  font-size: 16px;
  line-height: 18px;
}

.contacts-phone {
  font-size: 16px;
  line-height: 18px;
  margin-top: 3px;
}

.write-us-button {
  width: 219px;
  height: 50px;

  margin-top: 23px;
}

.footer-contacts::after {
  content: "";

  width: 231px;
  height: 190px;
  position: absolute;
  top: 92px;
  left: 820px;

  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*footer социальные сети*/

.footer-social {
  display: flex;
  margin-top: 65px;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  width: 260px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.footer-social-text-wrapper {
  margin-left: 140px;
  vertical-align: center;
  padding: 0;
}

.footer-social-slogan {
  font-size: 36px;
  line-height: 36px;
}

.social-button {
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  border-radius: 40px;
  text-align: center;
  line-height: 80px;
  display: block;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #e74246;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.social-button:active path {
  fill-opacity: 0.3;

}

/***catalog***/

.inner-page {
  color: #666666;
  font-size: 16px;
  line-height: 18px;
}

.catalog-heading {
  margin: 0 0 0 0;
  text-align: center;
  padding-top: 76px;
  padding-bottom: 108px;
  font-size: 55px;
  line-height: 55px;

  color: #000000;
  width: auto;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

/*каталог фильтр цены*/

.range-filter {
  width: 260px;
  margin-top: 22px;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
  margin-bottom: 15px;
}

.range-controls {
  position: relative;
  height: 41px;

  background-color: #f1f1f1;

  border-radius: 5px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.filters fieldset {
  border: none;
}

.price-controls {
  font-size: 0;
  margin-top: 16px;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-size: 16px;
  text-align: center;

  border: none;
  border-radius: 5px;
  background: #eeeeee;
}

.max-price {
  text-align: right;
}




/*сортировка*/

.order-controls {
  display: flex;
  padding: 0;
  margin: 59px 0 92px 40px;
  text-transform: uppercase;
  color: #000000;

  position: relative;

}


.order-controls span {
  font-size: 18px;
  line-height: 18px;
}

.order-controls a {
  color: #000000;
  opacity: 0.3;
  font-size: 14px;
  line-height: 18px;
}

.order-options-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 0 267px;
  width: 280px;
  font-size: 0;
}



.order-option-item a:hover,
.order-option-item a:focus {
  opacity: 0.6;
}

.order-option-item-current a,
.order-option-item a:active {
  color: #000000;
  opacity: 1;
}


.order-directions-item a {
  opacity: 0.2;
}

.order-directions-item a:hover,
.order-directions-item a:focus {
  opacity: 1;
  color: #a6a6a6;
}

.order-directions-item-current a,
.order-directions-item a:active {
  opacity: 1;
}



/*фильтры*/

.filters {
  width: 260px;
  margin-top: 56px;
}

.filters ul {
  line-height: 20px;
  padding: 0;
  margin: 0;
}


.filters legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 26px;
}

.filters fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}


.filters fieldset:first-child {
  margin-bottom: 60px;
}

.filters fieldset:nth-child(2) legend {
  margin-bottom: 15px;
}

.filters fieldset:nth-child(3) legend {
  margin-bottom: 18px;
}

.filters fieldset:nth-child(2) {
  margin-bottom: 23px;
}

.filter-option-radio,
.filter-option-checkbox {
  margin-bottom: 20px;
  padding-left: 32px;
  opacity: 0.8;
}



.filter-option-radio label,
.filter-option-checkbox label {
  position: relative;
  display: block;

  cursor: pointer;
  user-select: none;
}

/*чекбоксы картинки и их состояния*/

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;

  width: 23px;
  height: 23px;

  left: -32px;
  top: 0;

  background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23'%3e%3cpath fill='#b8b8b8' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label:focus::before,
.filter-input-checkbox + label:hover::before{
  content: "";
  position: absolute;

  width: 23px;
  height: 23px;

  left: -32px;
  top: 0;

  background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23'%3e%3cpath fill='#000000' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label:disabled::before{
  content: "";
  position: absolute;

  width: 23px;
  height: 23px;

  left: -32px;
  top: 0;

  background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23'%3e%3cpath fill='#ededed' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.filter-input-checkbox:checked + label::before {
  content: "";

  position: absolute;

  width: 27px;
  height: 23px;

  top: 0;
  left: -32px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23'%3e%3cpath fill='#b8b8b8' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3e%3cpath fill='#b8b8b8' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label:hover::before,
.filter-input-checkbox:checked + label:focus::before{
  content: "";

  position: absolute;

  width: 27px;
  height: 23px;

  top: 0;
  left: -32px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23'%3e%3cpath fill='#000000' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3e%3cpath fill='#000000' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label:disabled::before{
  content: "";

  position: absolute;

  width: 27px;
  height: 23px;

  top: 0;
  left: -32px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23'%3e%3cpath fill='#ededed' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3e%3cpath fill='#ededed' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 0 0;
}


/*радиобаттоны и их состояния*/


.filter-input-radio + label::before {
  content: "";
  position: absolute;

  width: 21px;
  height: 21px;


  left: -32px;
  top: -5px;

  border: 4px solid #000000;
  border-radius: 50%;
  opacity: 0.28;
}


.filter-input-radio:checked + label::after{
  content: "";

  position: absolute;

  width: 9px;
  height: 9px;

  left: -22px;
  top: 5px;
  background-color: #000000;
  border-radius: 50%;
  opacity: 0.28;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before,
.filter-input-radio + label:hover::after,
.filter-input-radio + label:focus::after{
  opacity: 1;
}

.filter-input-radio + label:disabled::before,
.filter-input-radio + label:disabled::after{
  opacity: 0.07;
}



.filter-option-radio+label,
.filter-option-checkbox+label {
  color: #283136;
}

.filter-input-radio:hover + label,
.filter-input-radio:focus + label,
.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label{
  color: #000000;
}

.filter-input-radio+ label:disabled,
.filter-input-checkbox:disabled+ label {
  color: #283136;
  opacity: 0.3;
}




/*карточки товаров*/

.catalog {
  width: 800px;
  /*margin-right: 20px;*/
}


.catalog-item {
  width: 360px;
  margin-bottom: 73px;
  margin-left: 40px;
  position: relative;
  line-height: 0;
}


.catalog-item:hover .catalog-item-info {
  display: block;
}

.catalog-item:hover{
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 1, 0.25);
}


.catalog-item::before {
  content: "";

  position: absolute;

  width: 360px;
  height: 40px;

  left: 0;
  top: -40px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.catalog-item:focus::before,
.catalog-item:hover::before{
  content: "";
  position: absolute;

  width: 360px;
  height: 40px;

  left: 0;
  top: -40px;
  background-image: url("../img/browser-focus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.catalog-item-info {
  position: absolute;
  box-sizing: border-box;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 27px;
  padding-bottom: 43px;
  width: 360px;
  line-height: 18px;
  max-height: 576px;


  background-color: #eeeeee;
  display: none;

}

.catalog-list {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.filter-button {
  width: 260px;
  height: 50px;
  background-color: #eeeeee;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}


.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 13px 0;
}

.price-button {
  width: 200px;
  height: 50px;
}


/*пагинация*/

.pagination {
  margin-bottom: 63px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  width: 442px;


  padding: 0;


  justify-content: space-between;
}

.pagination-item {

  width: 49px;
  height: 50px;
}

.pagination-item a {

  color: #000000;
  background-color: #eeeeee;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 25px;

  display: block;
  padding: 10px 19px;
}


.pagination-item .pagination-next {
  color: #000000;

  background-color: #eeeeee;
  width: 260px;

  display: inline-block;

}


/*модальное окно*/

.modal-contact-us {
  position: fixed;
  width: 760px;
  padding: 73px 100px 85px 100px;

  left: 240px;
  bottom: 178px;
  background-color: #ffffff;

  box-shadow: 0 20px 40px 0 rgba(0, 0, 1, 0.75);
}


.modal-contact-us-form :-ms-input-placeholder {
  color: #000000;
  opacity: 0.5;
}

.modal-contact-us-form ::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.5;
}

.modal-contact-us-form ::-moz-placeholder {
  color: #000000;
  opacity: 0.5;
}

.modal-contact-us-form :-moz-placeholder {
  color: #dddddd;
}


.modal-contact-us-heading {
  font-size: 45px;
  line-height: 45px;
  margin: 0 0 50px 0;
  color: #000000;
}

.modal-contact-us-name {
  padding: 0;
  display: inline-block;
  margin-right: 40px;
}



.contact-us-name input {
  width: 360px;
  height: 50px;
}


.modal-contact-us-email {
  display: inline-block;
  margin-bottom: 13px;
  box-sizing: border-box;
}




.modal-contact-us-form textarea {
  width: 760px;
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 16px;
  border-radius: 5px;
  border: 2px solid #d7dcde;
}

.modal-contact-us-form input[type="text"],
.modal-contact-us-form input[type="email"] {
  width: 358px;
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;

  border-radius: 5px;
  border: 2px solid #d7dcde;

}

.modal-contact-us-comment {
  margin-top: 18px;
}

.modal-contact-us label {
  display: block;
  margin-bottom: 15px;
  color: #000000;
  font-weight: bold;
}

.send-button {
  width: 260px;
  height: 50px;
  margin-top: 48px;
}

/*закрытие модального окна*/

.modal-close {
  width: 21px;
  height: 21px;

  background-color: #ffffff;
  border: 0;
  cursor: pointer;
  font-size: 0;

  position: absolute;
  top: 78px;
  right: 90px;
  ;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  width: 21px;
  height: 3px;

  top: 10px;
  left: 0;

  background-color: #fecccd;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}


/*styleguide для модального окна*/

.modal-contact-us input:active {
  border: 2px solid #b4b9bb;
}


.modal-contact-us input:focus,
.modal-contact-us input:hover {
  border: 2px solid #000000;
  outline: none;
}


.modal-contact-us input:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.modal-close:hover::before,
.modal-close:hover::after,
.modal-close:focus::before,
.modal-close:focus::after {
  background-color: #fb565a;
}

.modal-close:active::before,
.modal-close:active::after {
  background-color: #ffeeee;
}


/*styleguide фильтры*/

.filter-button:hover,
.filter-button:focus,
.pagination-item a:hover,
.pagination-item a:focus,
.pagination-next:hover,
.pagination-next:focus {
  background-color: #dfdfdf;
}

.filter-button:active,
.pagination-item a:active,
.pagination-next:active {
  background-color: #d5d5d5;
}

.pagination-item-current a {
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
}




.catalog-item-description {
  margin:0 0 30px 0;
}
